[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasette = "*"
datasette-geojson-map = "*"
sqlite-utils = "*"
census-map-downloader = "*"
datasette-publish-fly = "*"
geojson-to-sqlite = "*"
datasette-query-files = "*"

[dev-packages]

[requires]
python_version = "3.11"
